@using SmartInsuarance.Model
@{
    ViewBag.Title = "FeatureRateMaster";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
    var enumList = (List<FillDropDown>)ViewBag.enums;
    var CustomEnumList = (List<EnumMaster>)ViewBag.cstomeEnums;

}
<style>
    .Paddingtop1 {
        padding-top: 10px !important;
        padding-bottom: 10px !important
    }
</style>
<style>
    thead, tbody, tfoot, tr, td, th {
        border-width: thin !important;
    }
</style>
<link href="~/Content/Custom.css" rel="stylesheet" />
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" style="color: blanchedalmond;font-weight: bold;">Enum Master</h4>


        </div>
        <div class="card-body">
            @using (Html.BeginForm("CreateEnumMaster", "Master", FormMethod.Post, new { @class = "formcreateupdate", @id = "frmAddUpdate", enctype = "multipart/form-data" }))
            {
                <div class="form-group is-empty row">

                    <div class="col-sm-4">
                        <label class="form-label">Select Enum</label><br />
                        <select class="singleselect" id="ddlEnum" name="iFK_EnumNo">
                            <option value="0" role=separator>Select Enum</option>
                            @{
                                if (enumList != null)
                                {
                                    foreach (var item in enumList)
                                    {
                                        <option value="@item.DDLValue" role=separator>@item.DDLText</option>
                                    }
                                }

                            }
                        </select>
                    </div>

                    <div class="col-sm-4">
                        <label class="form-label">Setting Name</label>
                        <input type="text" class="form-control" id="txtsettingName" name="SettigName">
                    </div>

                    <div class="pull-right col-sm-3">
                        <br />
                        <a href="#" class="btn btn-default" id="reset">Reset</a>
                        <button class="btn btn-primary"> Save </button>
                    </div>
                </div>
            }
            <hr style="background-color:black;font-weight:bold;" />
            <div class="table-responsive">
                <table class="table table-responsive-md" id="tblEnums">
                    <thead>
                        <tr>
                            <th>#No</th>
                            <th hidden>IPKID</th>
                            <th>Enum Name</th>
                            <th>Setting Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @{
                            if (CustomEnumList != null)
                            {
                                var i = 1;
                                foreach (var item in CustomEnumList)
                                {
                                                <tr>
                                                    <td>@i</td>
                                                    <td hidden>@item.iPK_CustEnum</td>
                                                    <td>@item.EnumName</td>
                                                    <td>@item.SettigName</td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            @{if (item.iStts == 1)
                                                                { <input id="CSTMENUM-@item.iPK_CustEnum" class="form-check-input ChangeStatus" type="checkbox" data-id="CSTMENUM-@item.iPK_CustEnum" name="@item.iPK_CustEnum" value="@item.iStts" checked>
                                                                }
                                                                else
                                                                {
                                                                    <input id="CSTMENUM-@item.iPK_CustEnum" class="form-check-input ChangeStatus" type="checkbox" data-id="CSTMENUM-@item.iPK_CustEnum" name="@item.iPK_CustEnum" value="@item.iStts">

                                                                }
                                                            }
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                          <button class="btn btn-danger shadow btn-xs sharp Delete" id="CSTMENUM_@item.iPK_CustEnum" onclick="DeleteData('@item.iPK_CustEnum','CSTMENUM')"><i class="fa fa-trash"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                    i++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/Content/Template/js/jScript.js"></script>
<script src="~/Content/globalDomain.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
<script type="text/javascript" language="javascript" src="~/Content/datatable/js/jquery.dataTables.min.js"></script>
@*<script src="~/Content/Template/js/Commonjs.js"></script>*@
<script type="text/javascript">
    $('#tblEnums').DataTable();
    $(document).ready(function () {
        $(".singleselect").select2();
        $("#dtInsertStrDt").change(function () {
            debugger;
            var startdate = $(this).val();
            $("#dtInsertEndDt").prop('disabled', false);
            document.getElementById("dtInsertEndDt").min = startdate;

        });
        $("#reset").click(function () {
            document.getElementById("dtInsertEndDt").value = '';
            $("#dtInsertEndDt").prop('disabled', true);
            document.getElementById("dtInsertEndDt").min = '';
            document.getElementById("dtInsertStrDt").value = '';
            document.getElementById("dRate").value = '';
        });

        $('#ddlEnum').change(function () {
            var id = $(this).val();
            getEnum(id);
        });
    });

    $(".ChangeStatus").change(function () {
        debugger;
        var id = $(this).data("id");
        var item = id.split('-');
        var type = parseInt($(this).val());

        var Params = JSON.stringify(
            {
                TableId: item[0],
                type: type,
                Id: item[1]
            
            });

        $.ajax({
            url: GetglobalDomain() + "/Role/ChangeStatus",
            type: 'POST',
            dataType: "json",
            contentType: "application/json",
            data: Params,
            success: function (response) {
                debugger;
                if (response.isvalid == 1) {
                    var msg = 'Status Changes Successfully';
                    if (type == 1) {
                        $("#" + id).val(0);
                        /* $(this).val('0');*/
                        msg = 'Status De-Active Successfully';
                    }
                    else {
                        $("#" + id).val(1);
                        /* $(this).val('1');*/
                        msg = 'Status Active Successfully';
                    }
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: msg,
                        showConfirmButton: false,
                        timer: 3000
                    })


                }






            }
        });

    });
    function DeleteData(Id, table) {
        var Id = Id;

        /*  var TypeId = $(this).attr("name");*/
        $.confirm({

            title: 'Remove Confirmation',
            content: 'Are you sure to remove record',
            type: 'red',
            typeAnimated: true,
            animation: 'rotate',
            closeAnimation: 'scale',
            buttons: {
                Confirm: {
                    text: 'YES',
                    btnClass: 'btn-red',
                    action: function () {



                        var Params = JSON.stringify({
                            TableId: table,
                            Id: Id,
                            type: 2


                        });
                        /* ShowBALoader("LoaderBASinup1");*/
                        $.ajax({
                            url: GetglobalDomain() + "/Role/ChangeStatus",
                            type: 'POST',
                            dataType: "json",
                            data: Params,
                            contentType: "application/json",
                            success: function (response) {


                                debugger;
                                if (response.IsValid = 1) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'success',
                                        title: 'Delete Successfully',
                                        showConfirmButton: false,
                                        timer: 3000
                                    })
                                    $("#tr_" + Id).remove();
                                }

                            },

                        });

                    }
                },
                close: {
                    text: 'NO',
                    action: function () { }
                }
            }
        });
    }

    function getEnum(enumId) {
        var htmlString = "";
        var userMasterModal = {
            enumID: parseInt(enumId)
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: GetglobalDomain() + "/Master/GetDataForEnum",
            dataType: 'json',
            type: 'Post',
            cache: false,
            data: JSON.stringify(userMasterModal),
            success: function (data) {
                console.log('ajax');
                console.log(data);
                var mainData = data.Data;
                mainData.forEach(function (item, index) {

                    htmlString += `<tr><td>${index + 1}</td><td hidden>${item.iPK_CustEnum}</td><td>${item.EnumName}</td><td>${item.SettigName}</td></tr>`
                })
                //$('#tblEnums tbody').html('');
                //$('#tblEnums tbody').html(htmlString);
            },
            error: function (d) {
                console.log(d);
                //alert("404. Please wait until the File is Loaded.");
            }
        });

    }

</script>
