@using SmartInsuarance.Models
@{
    ViewBag.Title = "PackageFunctionality";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
    List<Dropdown> Menulist = new List<Dropdown>();
    if (ViewBag.groups != null)
    {
        Menulist = (List<Dropdown>)ViewBag.groups;
    }
}

<style>
    .Paddingtop1 {
        padding-top: 10px !important;
        padding-bottom: 10px !important
    }

    select[readonly].select2-hidden-accessible + .select2-container {
        pointer-events: none;
        touch-action: none;
    }

    .hidden {
        display: none;
    }
</style>
<link href="~/Content/Custom.css" rel="stylesheet" />
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" style="color: blanchedalmond;font-weight: bold;">ADD FUNCTIONALITY TO PACKAGE</h4>
            @*<a href="@Url.Action("PackageList", "Master")" class="btn btn-default pull-right" style="color: white;">Back</a>*@

            <a href="@Url.Action("PackageList", "Master")" style="color: blanchedalmond;font-weight: bold;"><i class="fas fa-arrow-left"></i> Back</a>
        </div>
        @*@using (Html.BeginForm("CreatePackageFunctionality", "Master", FormMethod.Post, new { @class = "formcreateupdate", @id = "frmAddUpdate", enctype = "multipart/form-data" }))

            {*@
        <input type="hidden" id="iPk_PackFunctId" value="0" class="form-control" name="iPk_PackFunctId" readonly />
        <input type="hidden" id="iLicenseid" value="@ViewBag.Licenseid" class="form-control" name="iLicenseid" readonly />
        <input type="hidden" id="iPk_packid" value="@ViewBag.Id" class="form-control" name="iPk_packid" readonly />
        <div class="card-body">

            <div class="form-group is-empty row Paddingtop1">
                <div class="col-sm-3">
                    <select class="singleselect " name="iMnuId" id="iMnuId" required>
                        <option value="">Select Menu </option>
                        @{
                            foreach (var item in Menulist)
                            {
                                <option value="@item.Id">@item.Text</option>
                            }
                        }

                    </select>

                </div>
                <div class="col-sm-3">
                    <select class="singleselect" name="iSubMnuId" id="iSubMnuId" required>
                        <option value="">Select Submenus </option>

                    </select>

                </div>
                <div class="col-sm-2">
                    <input type="text" id="ivalidityvalue" value="@ViewBag.ivalidityvalue" class="form-control" name="ivalidityvalue" readonly />
                    <small id="msgshow" class="col-sm-12 control-label" style="color:red;text-align: unset;">Period</small>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="ivalidityname" value="@ViewBag.ivalidityname" class="form-control" name="ivalidityname" readonly />
                    <small id="msgshow" class="col-sm-12 control-label" style="color:red;text-align: unset;">UOM</small>
                    <input type="hidden" id="ivalidityid" value="@ViewBag.ivalidityid" class="form-control" name="ivalidityid" readonly />
                </div>
                <div class="col-sm-2">
                    <input type="text" id="drate" value="0" class="form-control" name="drate" readonly />
                    <small id="msgshow" class="col-sm-12 control-label" style="color:red;text-align: unset;">Rate(per @ViewBag.ivalidityname)</small>
                </div>
            </div>
            <div class="form-group is-empty row Paddingtop1">
                <div class="col-sm-2">
                    <input type="checkbox" id="iisdiscount" name="iisdiscount" value="0">
                    <label for="vehicle1">Discount</label><br>
                </div>
                <div class="col-sm-4 Discountdetail hidden" id="Discountdetail">
                    <select class="singleselect col-sm-8" name="idistyp" id="idistyp">
                        <option value="">Select </option>
                        <option value="1">In Persentage</option>
                        <option value="2">In Amount</option>
                    </select>

                </div>
                <div class="col-sm-2 Discountdetail hidden">
                    <input type="text" id="ddisvalue" value="" class="form-control col-sm-4" placeholder="Enter Value" name="ddisvalue">
                </div>
                <div class="col-sm-2">
                    <input type="text" id="ddisplayvalue" name="ddisplayvalue" class="form-control" value="0" readonly>
                    <small id="msgshow" class="col-sm-12 control-label" style="color:red;text-align: unset;">Display value</small>
                </div>
                <div class="pull-right col-sm-2" style="text-align:end;">
                    <a href="#" id="Reset" class="btn btn-default">Reset</a>
                    <button class="btn btn-primary" id="save"> Save </button>
                </div>
            </div>
        </div>

        @*}*@
        <div class="table-responsive">
            <table class="table table-responsive-md" id="tblCustomers">
                <thead>
                    <tr>
                        <th>#No</th>
                        <th>Menu Name</th>
                        <th>SubMenu Name </th>
                        <th>UOM</th>
                        <th>Period</th>
                        <th>Rate</th>
                        <th>Discount</th>
                        <th>Dis.Type</th>
                        <th>Dis.Value</th>
                        <th>Final Amount</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/Content/Template/js/jScript.js"></script>
<script src="~/Content/globalDomain.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var Id = $("#iPk_packid").val();
        var iLicenseid = $("#iLicenseid").val();
        BindPackageFunction(Id, iLicenseid)
        debugger;
        $(".singleselect").select2();
        $("#iMnuId").change(function () {
            let Id = $(this).val();
            BindSubmenus(Id, 1)
        });
        $("#iSubMnuId").change(function () {
            var iMnuId = $("#iMnuId").val();
            var iSubMnuId = $(this).val();
            FindRate(iMnuId, iSubMnuId);

        });
        $("#iisdiscount").change(function () {
            debugger;
            if ($(this).is(':checked')) {
                $(this).val('1');
                $("#idistyp").prop("required", true);
                $("#ddisvalue").attr("required", true);
                $(".Discountdetail").removeClass('hidden');


            }
            else {
                $(this).val('0');
                $("#idistyp").val('');
                $("#idistyp").trigger('change');
                $("#ddisvalue").val("");
                $("#idistyp").prop("required", false);
                $("#ddisvalue").attr("required", false);
                $(".Discountdetail").addClass('hidden');

            }
            Display();
        });
        $("#ddisvalue").blur(function () {
            Display();
        });
        $("#idistyp").change(function () {
            Display();
        });
        $("#Reset").click(function () {
            ResetField();
        });

        function BindSubmenus(Id, Type) {

            var Model = {
                Id: Id

            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain()+"/AjaxRequest/GetPackageSelectMenuSubmenulist",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(Model),
                success: function (data) {
                    debugger;
                    var submenuList = data.Data;
                    //console.table(submenuList)
                    if (Type != 0) {
                        var selectBody = "<option value=0>Select Submenus</option> ";
                    }
                    else {
                        var selectBody = "<option value=0>Select Menus</option> ";
                    }
                    submenuList.forEach(item => {

                        selectBody += `<option value=${item.Id}>${item.Text}</option>`

                    });
                    if (Type != 0) {
                        $('#iSubMnuId').html('')
                        $('#iSubMnuId').append(selectBody);

                    }
                    else {
                        $('#iMnuId').html('')
                        $('#iMnuId').append(selectBody);
                        $('#iSubMnuId').html('<option value=0>Select Submenus</option>');
                    }
                },
                error: function (d) {
                    console.log(d);
                }
            });

        }
        function FindRate(iMnuId, iSubMnuId) {
            var Params = JSON.stringify({
                iMnuId: iMnuId,
                iSubMnuId: iSubMnuId
            });

            $.ajax({
                url: GetglobalDomain()+ "/AjaxRequest/FindRate",
                type: 'POST',
                dataType: "json",
                data: Params,
                contentType: "application/json",
                enctype: 'multipart/form-data',
                success: function (response) {
                    debugger;
                    if (response.IsValid = 1) {
                        var id = response.Data[0].Id;
                        $("#drate").val(id);
                    }
                    Display();
                }


            });



            return false;
        }
        function Display() {
            debugger;
            var drate = $("#drate").val();
            var ivalidityvalue = $("#ivalidityvalue").val();
            var idistyp = $("#idistyp").val();
            var iisdiscount = $("#iisdiscount").val();
            var ddisvalue = $("#ddisvalue").val();
            var displayvalue = drate * ivalidityvalue;
            if (parseInt(iisdiscount) == 1) {
                if (parseInt(idistyp) == 1) {
                    displayvalue = (displayvalue - (displayvalue * ddisvalue) / 100);
                }
                else {
                    displayvalue = displayvalue - ddisvalue;
                }

            }
            $("#ddisplayvalue").val(displayvalue);
        }
        function ResetField() {
            $("#drate").val('');
            $('#iisdiscount').prop('checked', false);
            $('#iisdiscount').val('0');
            $("#iSubMnuId").val('');
            $("#iSubMnuId").trigger('change');
            $("#iMnuId").val('');
            $("#iMnuId").trigger('change');
            $("#idistyp").val('');
            $("#idistyp").trigger('change');
            $("#ddisvalue").val("");
            $("#idistyp").prop("required", false);
            $("#ddisvalue").attr("required", false);
            $(".Discountdetail").addClass('hidden');
            Display();
        }
        $("#save").click(function () {
            debugger;
            var iMnuId = $("#iMnuId").val();
            var iSubMnuId = $("#iSubMnuId").val();
            var ivalidityvalue = $("#ivalidityvalue").val();
            var ivalidityid = $("#ivalidityid").val();
            var drate = $("#drate").val();
            var iisdiscount = $("#iisdiscount").val() == '0' ? false : true;
            var idistyp = $("#idistyp").val();
            var iLicenseid = $("#iLicenseid").val();
            var iPk_packid = $("#iPk_packid").val();
            var ddisvalue = $("#ddisvalue").val();
            var ddisplayvalue = $("#ddisplayvalue").val();
            var iPk_PackFunctId = $("#iPk_PackFunctId").val();
            var Master = []
            Master.push({
                iMnuId: iMnuId,
                iSubMnuId: iSubMnuId,
                ivalidityvalue: ivalidityvalue,
                ivalidityid: ivalidityid,
                drate: drate,
                iisdiscount: iisdiscount,
                idistyp: idistyp,
                iLicenseid: iLicenseid,
                iFk_packid: iPk_packid,
                ddisvalue: ddisvalue,
                ddisplayvalue: ddisplayvalue,
                iPk_PackFunctId: iPk_PackFunctId
            });

            var Params = JSON.stringify({
                Master: Master

            });
            $.ajax({
                url: GetglobalDomain()+"/AjaxRequest/InsertPackageFunctionality",
                type: 'POST',
                dataType: "json",
                data: Params,
                contentType: "application/json",
                success: function (response) {

                    if (response.IsValid = 1) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: response.msg,
                            showConfirmButton: false,
                            timer: 6000
                        })

                        var Id = $("#iPk_packid").val();
                        var iLicenseid = $("#iLicenseid").val();
                        BindPackageFunction(Id, iLicenseid)
                        ResetField();
                    }


                }
            });
        })



    });
</script>
