@using SmartInsuarance.Models
@model List<PackageManagementView>
@{
    ViewBag.Title = "PackageList";
    Layout = "~/Views/Shared/_Layout_new.cshtml";

}

<style>

    .Paddingtop1 {
        padding-top: 10px !important;
        padding-bottom: 10px !important
    }

    .top:hover, .top:active {
        background-color: red;
    }


    sortable tr:hover {
        background-color: green;
        color: white;
    }

    .movablerows tbody tr td:first-child {
        cursor: move;
    }
</style>
<style>
    thead, tbody, tfoot, tr, td, th {
        border-width: thin !important;
    }
</style>
<link href="~/Content/Custom.css" rel="stylesheet" />

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/smoothness/jquery-ui.css" />

<link href="~/Content/Pop/PopModal.css" rel="stylesheet" />
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" style="color: blanchedalmond;font-weight: bold;">Package List</h4>
            @*<a href="@Url.Action("PackageCreate", "Master", new {Id=0})" class="btn btn-default top" style="color: antiquewhite;">Create</a>*@

            <a href="@Url.Action("PackageCreate", "Master", new {Id=0})" class="btn btn-success float-right"><i class="fa fa-plus"></i> New Create</a>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-md" id="tblCustomers">
                    <thead>
                        <tr>
                            <th>#No</th>
                            <th>Name</th>
                            <th>User Type</th>
                            <th>LicenseName</th>
                            <th>Is Display</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="sortable" style="cursor:pointer">
                        @{
                            var i = 1;

                            foreach (var item in Model)
                            {
                                <tr class="taskSingleLine" id="tr_@item.iPk_PackId" data-taskid="@item.iPk_PackId">
                                    <td>@i</td>
                                    <td>@item.sPackName</td>
                                    <td>@item.UsereName</td>
                                    <td>@item.LicenseName</td>
                                    <td>
                                        <div class="form-check form-switch">
                                            @{if (item.IsDisplay == 1)
                                                { <input id="Packagelist-@item.iPk_PackId" class="form-check-input ChangeStatus" type="checkbox" data-id="Packagelist-@item.iPk_PackId-displayactive" name="@item.iPk_PackId" value="@item.IsDisplay" checked>
                                                }
                                                else
                                                {
                                                    <input id="Packagelist-@item.iPk_PackId" class="form-check-input ChangeStatus" type="checkbox" data-id="Packagelist-@item.iPk_PackId-displayactive" name="@item.iPk_PackId" value="@item.IsDisplay">

                                                }
                                            }
                                        </div>
                                        <!--<label class="toggle">
                                            <input class="toggle-checkbox ChangeStatus" type="checkbox" data-id="Packagelist-@item.iPk_PackId-displayactive" name="Status" value="@(item.IsDisplay==1?1:0)" @(item.IsDisplay == 1 ? "checked" : "")>
                                            <div class="toggle-switch"></div>-->
                                        @*<span class="toggle-label">Bluetooth</span>*@
                                        <!--</label>-->
                                    </td>
                                    <td>
                                        <div class="form-check form-switch">
                                            @{if (item.iStts == 1)
                                                { <input id="Packagelist-@item.iPk_PackId" class="form-check-input ChangeStatus" type="checkbox" data-id="Packagelist-@item.iPk_PackId-status" name="@item.iPk_PackId" value="@item.iStts" checked>
                                                }
                                                else
                                                {
                                                    <input id="Packagelist-@item.iPk_PackId" class="form-check-input ChangeStatus" type="checkbox" data-id="Packagelist-@item.iPk_PackId-status" name="@item.iPk_PackId" value="@item.iStts">

                                                }
                                            }
                                        </div>
                                        <!--<label class="toggle">
                                            <input class="toggle-checkbox ChangeStatus" type="checkbox" data-id="Packagelist-@item.iPk_PackId-status" name="Status" value="@(item.iStts==1?1:0)" @(item.iStts == 1 ? "checked" : "")>
                                            <div class="toggle-switch"></div>-->
                                        @*<span class="toggle-label">Bluetooth</span>*@
                                        <!--</label>-->
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            @*<a href="@Url.Action("PackageCreate", "Master", new {Id=item.iPk_PackId})" class="btn btn-primary shadow btn-xs sharp me-1 Edit"><i class="fa fa-edit"></i></a>*@
                                            <a href="@Url.Action("PackageFunctionality", "Master", new {Id=item.iPk_PackId,Licenseid=item.iFk_LiceId,ivalidityname=item.ValidityName,ivalidityvalue=item.iValidityvalue,ivalidityid=item.iValidityId,iusertype=item.iUsrTyp})" title="Add Functionality" class="btn btn-primary shadow btn-xs sharp me-1 Edit" style="background-color:deeppink;"><i class="fa fa-tasks"></i></a>
                                            <a href="@Url.Action("SpecialFeatureackage", "Master", new {Id=item.iPk_PackId,ivalidityname=item.ValidityName,ivalidityvalue=item.iValidityvalue,ivalidityid=item.iValidityId,iusertype=item.iUsrTyp})" title="Add Special Feature" class="btn btn-primary shadow btn-xs sharp me-1 Edit" style="background-color: green;color:white;"><i class="fa fa-cog"></i></a>
                                            @{
                                                if (item.iUsrTyp != 4)
                                                {
                                                    <a href="@Url.Action("PackTaxandDis", "Master", new {Id=item.iPk_PackId})" title="Package Discount" class="btn btn-default shadow btn-xs sharp me-1 Edit"><i class="fa fa-cc-discover"></i></a>

                                                }
                                            }
                                            <a href="@Url.Action("PreviewMst", "Master", new {Id=item.iPk_PackId,Licenseid=item.iFk_LiceId})" title="Package preview" class="btn btn-primary shadow btn-xs sharp me-1 Edit"><i class="fa fa-eye"></i></a>

                                            <button class="btn btn-danger shadow btn-xs sharp Delete" id="delete_@item.iPk_PackId" onclick="DeleteData(@item.iPk_PackId)"><i class="fa fa-trash"></i></button>
                                            <a data-preloaderid="#preloadcreatepopupright"
                                               href="@Url.Action("AddSupplierSection", "Master" ,new {name="abhishek"})"
                                              data-bs-target="#exampleModalLong" data-bs-toggle="modal"
                                               class="btn btn-yellow btn-xs nomargin btn ajaxmodal padding5" title="Company Assign">
                                                <i class="zmdi zmdi-settings">dgfdgdgdg</i>
                                            </a>
                                        </div>


                                    </td>
                                </tr>
                                i++;
                            }
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="exampleModalLong">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content modal-xl">
        </div>
    </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="~/Content/globalDomain.js"></script>
        @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
        @*<script src="~/Content/Template/js/jScript.js"></script>*@
        @*<script src="~/Content/Template/js/sortable.js"></script>*@
        <link href="~/Content/datatable/css/jquery.dataTables.min.css" rel="stylesheet" />

        @*<script src="~/Content/Pop/PopModal.js"></script>*@
        <script type="text/javascript" language="javascript" src="~/Content/datatable/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript">
            $('#tblCustomers').DataTable();
            $(".ChangeStatus").change(function () {
                debugger;
                var id = $(this).data("id");
                var item = id.split('-');
                var type = parseInt($(this).val());
                //if (type == 0) {
                //    type = 1;
                //}
                //else {
                //    type = 0;
                //}
                var Params = JSON.stringify(
                    {
                        TableId: item[0],
                        type: type,
                        Id: item[1],
                        Display: item[2],
                    });

                $.ajax({
                    url: GetglobalDomain() + "/Role/ChangeStatus",
                    type: 'POST',
                    dataType: "json",
                    contentType: "application/json",
                    data: Params,
                    success: function (response) {
                        debugger;
                        if (response.isvalid == 1) {
                            var msg = 'Status Changes Successfully';
                            if (type == 1) {
                                $("#" + id).val(0);
                                /* $(this).val('0');*/
                                msg = 'Status De-Active Successfully';
                            }
                            else {
                                $("#" + id).val(1);
                                /* $(this).val('1');*/
                                msg = 'Status Active Successfully';
                            }
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: msg,
                                showConfirmButton: false,
                                timer: 3000
                            })


                        }






                    }
                });

            });
            function DeleteData(Id) {
                var Id = Id;

                /*  var TypeId = $(this).attr("name");*/
                $.confirm({

                    title: 'Remove Confirmation',
                    content: 'Are you sure to remove record',
                    type: 'red',
                    typeAnimated: true,
                    animation: 'rotate',
                    closeAnimation: 'scale',
                    buttons: {
                        Confirm: {
                            text: 'YES',
                            btnClass: 'btn-red',
                            action: function () {



                                var Params = JSON.stringify({
                                    TableId: 'PackageList',
                                    Id: Id,
                                    type: 2


                                });
                                /* ShowBALoader("LoaderBASinup1");*/
                                $.ajax({
                                    url: GetglobalDomain() + "/Role/ChangeStatus",
                                    type: 'POST',
                                    dataType: "json",
                                    data: Params,
                                    contentType: "application/json",
                                    success: function (response) {


                                        debugger;
                                        if (response.IsValid = 1) {
                                            Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Delete Successfully',
                                                showConfirmButton: false,
                                                timer: 3000
                                            })
                                            $("#tr_" + Id).remove();
                                        }

                                    },

                                });

                            }
                        },
                        close: {
                            text: 'NO',
                            action: function () { }
                        }
                    }
                });
            }
            $(".ajaxmodal").click(function () {
                debugger;
                var targetmodal = $(this).data("target");
                var ajaxurl = $(this).attr("href");

                $(targetmodal).html($($(this).data("preloaderid")).html());
                $.ajax({
                    url: ajaxurl,
                    type: 'POST',
                    dataType: "text",
                    success: function (response) {


                        $("#modalid").html(response);
                       
                        /*  $("#AddSection").html(response);*/

                    }
                });

                //$(targetmodal).load(ajaxurl).modal({
                    
                //    success: function (response) {

                      
                //        $("#modalid").html(response);

                //        /*  $("#AddSection").html(response);*/

                //    },
                //    show: true,
                //    backdrop: 'static',
                //    keyboard: false,
                //});

                return false;
            });


        </script>
        <script>
    //$(document).ready(function () {
    //    jQuery.browser = {};
    //    (function () {
    //        jQuery.browser.msie = false;
    //        jQuery.browser.version = 0;
    //        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
    //            jQuery.browser.msie = true;
    //            jQuery.browser.version = RegExp.$1;
    //        }
    //    })();
    //    //$("#Menutable tbody").sortable({
    //    //});
    //});
    @*$(function () {

        $("#sortable").sortable({
            items: 'tr',
            cursor: 'pointer',
            axis: 'y',
            dropOnEmpty: false,
            update: function (event, ui) {
                var itemIds = "";
                $("#sortable").find(".taskSingleLine").each(function () {
                    var itemId = $(this).attr("data-taskid");
                    itemIds = itemIds + itemId + ",";
                });
                $.ajax({
                    url: '@Url.Action("UpdateItem", "Master")',
                    data: { itemIds: itemIds },
                    type: 'POST',
                    success: function (data) {

                    },
                    error: function (xhr,status,error) {

                    }
                });

            }
        })

    })*@
        </script>
