
@{
    ViewBag.Title = "Pending Payments";
    Layout = "~/Views/Shared/_Layout_new.cshtml";

    var pendingPayments = ViewBag.pendingPayments as List<SmartInsuarance.Models.PendingPayments>;
}


<link href="~/Content/Template/select2/css/select2.css" rel="stylesheet" />
@*<link href="~/Content/CountrySelect/build/css/countrySelect.css" rel="stylesheet" />
    <link href="~/Content/CountrySelect/build/css/demo.css" rel="stylesheet" />*@
<link href="~/Content/Custom.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="color: blanchedalmond;font-weight: bold;">Pending Payments Queue</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th style="width:80px;"><strong>#</strong></th>
                                <th><strong>ORDER ID</strong></th>
                                <th><strong>ORDER DATE</strong></th>
                                <th><strong>USER ID</strong></th>
                                <th><strong>USER TYPE</strong></th>
                                <th><strong>PACKAGE NAME</strong></th>
                                <th><strong>PURCHASE AMT</strong></th>
                                <th><strong>TAX AMT</strong></th>
                                <th><strong>TOTAL AMT</strong></th>
                                <th><strong>ACTION</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (pendingPayments != null && pendingPayments.Count > 0)
                                {
                                    foreach (var item in pendingPayments)
                                    {
                                        <tr>
                                            <td><strong>@item.RowNo</strong></td>
                                            <td>@item.sOrderId</td>
                                            <td>@item.dtTxnDt</td>
                                            <td>@item.iFk_UsrId</td>
                                            <td>@item.Usertype</td>
                                            <td>@item.PackageName</td>
                                            <td>&#8377; @item.dPrchsAmnt</td>
                                            <td>&#8377; @item.dTxnAmnt</td>
                                            <td>&#8377; @item.dTotalAmnt</td>
                                            <td>
                                                <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" onclick="ViewUserDetails('@item.iFk_UsrId')"> <i class="fas fa-eye"></i> View</a>
                                                <a class="btn btn-sm btn-outline-success" href="@Url.Action("CollectPayment", "Admin",new {orderID=item.sOrderId})"> <i class="fas fa-dollar"></i> Collect Payment</a>
                                            </td>

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="10" style="text-align:center">No Data Available</td></tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-xl" id="exampleModalCenter">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document" data-backdrop="static">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userProfileTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4">
                            <div class="clearfix">
                                <div class="card card-bx profile-card author-profile m-b30">
                                    <div class="card-body">
                                        <div class="p-5">
                                            <div class="author-profile">
                                                <div class="author-media">
                                                    <img src="~/Content/Template/images/userlogo.png" alt="">
                                                    <div class="upload-link" title="" data-toggle="tooltip" data-placement="right" data-original-title="update">
                                                        <input type="file" class="update-flie">
                                                        <i class="fa fa-camera"></i>
                                                    </div>
                                                </div>
                                                <div class="author-info">
                                                    <h6 class="title" id="lbluserName">Super User</h6>
                                                    <span id="txtRole">Admin</span>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="info-list">
                                                <ul>
                                                    <li><a href="javascript:void(0)">Username</a><span>SU</span></li>
                                                    <li><a href="javascript:void(0)">Role</a><span>Admin</span></li>
                                                    <li><a href="javascript:void(0)">My Members</a><span>0</span></li>
                                                </ul>
                                            </div>*@
                                    </div>
                                    @*<div class="card-footer">
                                            <div class="input-group mb-3">
                                                <div class="form-control rounded text-center bg-white">Portfolio</div>
                                            </div>
                                            <div class="input-group">
                                                <a href="https://www.dexignlab.com/" class="form-control text-primary rounded text-start bg-white">https://www.dexignlab.com/</a>
                                            </div>
                                        </div>*@
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-9 col-lg-8">
                            <div class="card profile-card card-bx m-b30">
                                <div class="card-header">
                                    <h6 class="title" style="color: blanchedalmond;font-weight: bold;">Profile Details</h6>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control" id="txtName" readonly>
                                        </div>

                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">User Type</label>
                                            <input type="text" class="form-control" id="txtuserType" readonly>
                                        </div>
                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Date Of Birth</label>
                                            <input type="text" class="form-control" id="txtDOB" readonly>
                                        </div>
                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Email address</label>
                                            <input type="text" class="form-control" placeholder="somthing@mail.com" id="txtEmail" readonly>
                                        </div>

                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Country</label><br />
                                            <input type="text" class="form-control" id="txtcountry" readonly>
                                        </div>
                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">State</label><br />
                                            <input type="text" class="form-control" id="txtState" readonly>
                                        </div>
                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">City</label><br />
                                            <input type="text" class="form-control" id="txtcity" readonly>
                                        </div>


                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Phone Number</label>
                                            <input type="text" class="form-control" id="txtphoneNumber" readonly>
                                        </div>

                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Pincode</label>
                                            <input type="text" class="form-control" id="txtPincode" oninput="numberOnly(this.id);" maxlength="6">
                                        </div>
                                        @*<div class="col-sm-6 m-b30">
                                                <label class="form-label">Role</label><br />
                                                <input type="text" class="form-control" id="txtRole" readonly>
                                            </div>*@

                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Aadhar Number</label>
                                            <input type="text" class="form-control" id="txtAadhaar" oninput="numberOnly(this.id);" maxlength="12">
                                        </div>

                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">PAN Number</label>
                                            <input type="text" class="form-control" id="txtPan" maxlength="10">
                                        </div>

                                        @*<div class="col-sm-6 m-b30">
                                                <label class="form-label" id="lblAadhaarImg">Choose Image (Aadhaar)</label>
                                                <input type="file" class="form-control" id="fupAadhaar" onchange="return encodeImageFileAsURL(this,'Aadhaar')">
                                                <input type="hidden" id="hdnUploadedAadhaarImage" />
                                            </div>

                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label" id="lblPanImg">Choose Image (PAN)</label>
                                                <input type="file" class="form-control" id="fupPan" onchange="return encodeImageFileAsURL(this,'Pan')">
                                                <input type="hidden" id="hdnUploadedPanImage" />
                                            </div>*@

                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">User Location</label>
                                            <input type="text" class="form-control" id="txtlocation">
                                        </div>

                                        <!--<div class="col-sm-6 m-b30">
                                            <label class="form-label">Password</label>
                                            <input type="password" class="form-control" id="txtpassword">-->
                                        @*<p style="height: 22px;width:100%;background-color:red;margin-top: 5px;border-radius: 14px;text-align: center;color: white;">weak</p>*@
                                        <!--</div>-->

                                        <div class="col-sm-12 m-b30">
                                            <label class="form-label">Full Address</label>
                                            <textarea class="form-control" placeholder="Some where....." rows="3" style="resize:none" id="txtAddress"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
@*
    <script src="~/Content/CountrySelect/build/js/countrySelect.js"></script>
    <script>
        $("#countrySelect").countrySelect({
            defaultStyling: "inside"

        });
    </script>*@
<script>
    $(document).ready(function () {
        $('.form-check-input').click(function () {

            var d = $(".form-check-input").is(':checked')
            if (d) {
                var Name = $(this).data("id");
                var EnailAddress = $(this).data("html");
                ActiveTrialUser(EnailAddress, Name);

                setTimeout(function () {
                    location.reload();
                }, 3000);
            }

        });
    });
    function ActiveTrialUser(email, name) {
        var Content = {
            sEmailId: email,
            sName: name,
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/Admin/ActiveTrialUser",
            dataType: 'json',
            type: 'Post',
            cache: false,
            data: JSON.stringify(Content),
            success: function (data) {
                //console.log('ajax');
                //console.log(data.Message);
                //console.log(data);

                if (data.StatusCode == 1) {
                    swal({
                        title: "Success",
                        text: "Details Updated Successfully..!",
                        type: "success",
                        showCancelButton: !1,
                    });
                }

            },
            error: function (d) {
                console.log(d);
                //alert("404. Please wait until the File is Loaded.");
            }
        });
    }

    function ViewUserDetails(userID) {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/Admin/GetuserDetails?userID=" + userID,
            dataType: 'json',
            type: 'Post',
            cache: false,
            data: null,
            success: function (data) {
                console.log('ajax');
                //console.log(data.Message);
                //console.log(data.Data[0]);

                var userData = data.Data[0];

                console.log(userData);
                $('#userProfileTitle').html(userData.Name + " Profile")
                $('#txtName').val(userData.Name)
                $('#txtuserType').val(userData.UserType)
                $('#txtDOB').val(userData.dtDOB)
                $('#txtEmail').val(userData.sEmail)
                $('#txtcountry').val(userData.sContryName)
                $('#txtState').val(userData.sStateName)
                $('#txtcity').val(userData.sCityName)
                $('#txtphoneNumber').val(userData.sPhone)
                $('#txtPincode').val(userData.sPincode)
                $('#txtRole').html(userData.Role)
                $('#txtAadhaar').val(userData.sAadhaar)
                $('#txtPan').val(userData.sPan)
                $('#txtlocation').val(userData.location)
                $('#txtAddress').val(userData.sAddress)
                $('#lbluserName').html(userData.sUSRNME)

                //if (data.StatusCode == 1) {
                //    swal({
                //        title: "Success",
                //        text: "Details Updated Successfully..!",
                //        type: "success",
                //        showCancelButton: !1,
                //    });
                //}

            },
            error: function (d) {
                console.log(d);
                //alert("404. Please wait until the File is Loaded.");
            }
        });
    }



</script>
