@using SmartInsuarance.Models
@model List<PACKFUNCView>
@{ Layout = null;
    List<Dropdown> lstmenu = new List<Dropdown>();
    if (ViewBag.groups != null)
    {
        lstmenu = (List<Dropdown>)ViewBag.groups;
    }
}
@*<style>
    .trresult {
        border: solid;
        background: black;
        color: azure;
        font-weight: bold;
    }
</style>*@
@{

    foreach (var firstitem in lstmenu)
    {
        decimal i = 0;
        int j = 0;
        foreach (var item in Model.Where(p => p.iMnuId == Convert.ToInt32(firstitem.Id)).ToList())
        {
            j = 1;
            i = i + item.ddisplayvalue;
<tr id="tr_@item.iPk_PackFunctId">

    <td>

        <div class="d-flex">

            <a href="javascript:;" class="btn btn-danger shadow btn-xs sharp Delete" data-id="@item.iPk_PackFunctId" id="delete_@item.iPk_PackFunctId" onclick="Delete(@item.iPk_PackFunctId)"><i class="fa fa-trash"></i></a>
        </div>

    </td>
    <td>@item.MenuName</td>
    <td>@item.SubName</td>
    <td>@item.ValidityName</td>
    <td>@item.ivalidityvalue</td>
    <td>@item.drate</td>
    <td>@item.iisdiscount</td>
    <td>@item.DisType</td>
    <td>@item.ddisvalue</td>
    <td style="font-weight:bold;color:black;">@item.ddisplayvalue</td>
</tr>
        }

        if(j==1)
                {
<tr class="trresult" style="border: solid; background: black; color: azure; font-weight: bold;">
    <td colspan="9" style="text-align:end;">Total(Single Unit)</td>
    <td>@i</td>
</tr>
<tr class="trresult" style="border: solid; background: black; color: azure; font-weight: bold;">
    <td colspan="9" style="text-align:end;">Total(as per Qty)</td>
    @{ 
        decimal finalamount = 0;
        finalamount = i * Convert.ToDecimal(firstitem.Qty);
            }
 
    <td>@finalamount</td>
</tr>

                }
    }
}
