@using SmartInsuarance.Model;
@model SmartInsuarance.Models.UserMasterDetails
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
    //var BaseURL = System.Configuration.ConfigurationManager.AppSettings["BaseUrl"];
    var countryID = Model.iCountryID;
    var stateID = Model.iStateID;
    var cityID = Model.iCityID;

    var Name = Model.Name.Split(' ')[0];

}

@*<link href="~/Content/Template/select2/css/select2.css" rel="stylesheet" />*@
@*<link href="~/Content/CountrySelect/build/css/countrySelect.css" rel="stylesheet" />
    <link href="~/Content/CountrySelect/build/css/demo.css" rel="stylesheet" />*@
<link href="~/Content/Custom.css" rel="stylesheet" />


@{
    if (ViewBag.type == "Member")
    {
        <div class="row">
            <input type="hidden" id="hdf_longitudeData" />
            <input type="hidden" id="hdf_latitudeData" />
            <div class="col-xl-3 col-lg-4">
                <div class="clearfix">
                    <div class="card card-bx profile-card author-profile m-b30">
                        <div class="card-body">
                            <div class="p-5">
                                <div class="author-profile">
                                    <div class="author-media">
                                        <img src="~/Content/Template/images/userlogo.png" alt="">
                                        <div class="upload-link" title="" data-toggle="tooltip" data-placement="right" data-original-title="update">
                                            <input type="file" class="update-flie">
                                            <i class="fa fa-camera"></i>
                                        </div>
                                    </div>
                                    <div class="author-info">
                                        <h6 class="title" id="proIMGName">NA</h6>
                                        @*<span>Admin</span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="info-list">
                                @*<ul>
                                        <li><a href="javascript:void(0)">Username</a><span>SU</span></li>
                                        <li><a href="javascript:void(0)">Role</a><span>Admin</span></li>
                                        <li><a href="javascript:void(0)">My Members</a><span>0</span></li>
                                    </ul>*@
                            </div>
                        </div>
                        @*<div class="card-footer">
                                <div class="input-group mb-3">
                                    <div class="form-control rounded text-center bg-white">Portfolio</div>
                                </div>
                                <div class="input-group">
                                    <a href="https://www.dexignlab.com/" class="form-control text-primary rounded text-start bg-white">https://www.dexignlab.com/</a>
                                </div>
                            </div>*@
                    </div>
                </div>

            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="card profile-card card-bx m-b30">
                    <div class="card-header">
                        <h6 class="title">Account setup</h6>
                        <a href="@Url.Action("Profilestatus", "User")"><i class="fas fa-arrow-left"></i> Back To List</a>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" id="txtName">
                            </div>
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Surname</label>
                                <input type="text" class="form-control" id="txtSurName">
                            </div>
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Date Of Birth</label>
                                <input type="text" class="form-control" placeholder="dd.MM.yyyy" id="txtDOB">
                            </div>
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Email address</label>
                                <input type="text" class="form-control" placeholder="somthing@mail.com" id="txtEmail">
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Select Country</label><br />
                                @*<input class="form-control" id="countrySelect" style="width:100%"/>*@
                                <select class="singleselect" id="ddlCountry">
                                    <option value="0" role=separator>Select Country</option>
                                </select>
                            </div>
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Select State</label><br />
                                <select class="singleselect" id="ddlState">
                                    <option value="0" role=separator>Select State</option>
                                </select>
                            </div>
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Select City</label><br />

                                <select class="singleselect" id="ddlCity">
                                    <option value="0" role=separator>Select City</option>
                                </select>
                            </div>


                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Phone Number</label>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <input type="text" class="form-control" id="txtPhoneCodeID" value="NA" style="font-size:15px;width: 80px; background-color: #f1f1f1" disabled readonly />
                                    </div>
                                    <div class="col-10">
                                        <input type="text" class="form-control" id="txtPhone" oninput="numberOnly(this.id);" maxlength="10">
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Pincode</label>
                                <input type="text" class="form-control" id="txtPincode" oninput="numberOnly(this.id);" maxlength="6">
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Aadhar Number</label>
                                <input type="text" class="form-control" id="txtAadhaar" oninput="numberOnly(this.id);" maxlength="12">
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">PAN Number</label>
                                <input type="text" class="form-control" id="txtPan" maxlength="10" style="text-transform:uppercase">
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">GST Number</label>
                                <div class="row" style="display: flex;align-items: baseline;">
                                    <div class="col-2">
                                        <label class="col-sm-6 toggle">
                                            <input class="toggle-checkbox" type="checkbox" id="chkIsGST" name="Status" value="@Model.isGSTApplicable" @(Model.isGSTApplicable == 1 ? "checked" : "")>
                                            <div class="toggle-switch"></div>

                                        </label>
                                    </div>
                                    <div class="col-10" id="divGST">
                                        <input type="text" class="form-control" id="txtGST" maxlength="10" style="display:none" value="@(Model.GSTINNo ==null?"": Model.GSTINNo)">
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-sm-6 m-b30">
                                    <label class="form-label" id="lblAadhaarImg">Choose Image (Aadhaar)</label>
                                    <input type="file" class="form-control" id="fupAadhaar" onchange="return encodeImageFileAsURL(this,'Aadhaar')">
                                    <input type="hidden" id="hdnUploadedAadhaarImage" />
                                </div>

                                <div class="col-sm-6 m-b30">
                                    <label class="form-label" id="lblPanImg">Choose Image (PAN)</label>
                                    <input type="file" class="form-control" id="fupPan" onchange="return encodeImageFileAsURL(this,'Pan')">
                                    <input type="hidden" id="hdnUploadedPanImage" />
                                </div>*@

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" id="txtUsername">
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" id="txtpassword">
                                @*<p style="height: 22px;width:100%;background-color:red;margin-top: 5px;border-radius: 14px;text-align: center;color: white;">weak</p>*@
                            </div>


                            <div class="col-sm-12 m-b30">
                                <label class="form-label">Full Address</label>
                                <textarea class="form-control" placeholder="Some where....." rows="3" style="resize:none" id="txtAddress"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="button" onclick="SaveDetails()"><i class="fa fa-plus"></i> Add @ViewBag.type</button>
                        @*<a href="javascript:void(0);" class="btn-link">Forgot your password?</a>*@
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <input type="hidden" id="hdf_longitudeData" />
            <input type="hidden" id="hdf_latitudeData" />
            <div class="col-xl-3 col-lg-4">
                <div class="clearfix">
                    <div class="card card-bx profile-card author-profile m-b30">
                        <div class="card-body">
                            <div class="p-5">
                                <div class="author-profile">
                                    <div class="author-media">
                                        <img src="~/Content/Template/images/userlogo.png" alt="">
                                        <div class="upload-link" title="" data-toggle="tooltip" data-placement="right" data-original-title="update">
                                            <input type="file" class="update-flie">
                                            <i class="fa fa-camera"></i>
                                        </div>
                                    </div>
                                    <div class="author-info">
                                        <h6 class="title" id="proIMGName">@(Model.Name==null?"": Model.Name)</h6>
                                        @*<span>Admin</span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="info-list">
                                @*<ul>
                                        <li><a href="javascript:void(0)">Username</a><span>SU</span></li>
                                        <li><a href="javascript:void(0)">Role</a><span>Admin</span></li>
                                        <li><a href="javascript:void(0)">My Members</a><span>0</span></li>
                                    </ul>*@
                            </div>
                        </div>
                        @*<div class="card-footer">
                                <div class="input-group mb-3">
                                    <div class="form-control rounded text-center bg-white">Portfolio</div>
                                </div>
                                <div class="input-group">
                                    <a href="https://www.dexignlab.com/" class="form-control text-primary rounded text-start bg-white">https://www.dexignlab.com/</a>
                                </div>
                            </div>*@
                    </div>
                </div>

            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="card profile-card card-bx m-b30">
                    <div class="card-header">
                        <h6 class="title">Account setup</h6>
                        <a href="@Url.Action("Profilestatus", "User")"><i class="fas fa-arrow-left"></i> Back To List</a>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" id="txtName" value="@(Name==null?"": Name)" readonly="readonly" disabled style="background-color: #f1f1f1">
                            </div>
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Surname</label>
                                <input type="text" class="form-control" id="txtSurName" value="@(Model.sSurNME ==null?"": Model.sSurNME)" readonly="readonly" disabled style="background-color: #f1f1f1">
                            </div>
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Date Of Birth</label>
                                <input type="text" class="form-control" placeholder="dd.MM.yyyy" id="txtDOB" value="@(Model.dtDOB ==null?"": Model.dtDOB)" readonly="readonly" disabled style="background-color: #f1f1f1">
                            </div>
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Email address</label>
                                <input type="text" class="form-control" placeholder="somthing@mail.com" id="txtEmail" value="@(Model.sEmail ==null?"": Model.sEmail)" readonly="readonly" disabled style="background-color: #f1f1f1">
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Select Country</label><br />
                                @*<input class="form-control" id="countrySelect" style="width:100%"/>*@
                                <select class="singleselect" id="ddlCountry" readonly="readonly" disabled style="background-color: #f1f1f1">
                                    <option value="0" role=separator>Select Country</option>
                                </select>
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Select State</label><br />
                                <select class="singleselect" id="ddlState" readonly="readonly" disabled style="background-color: #f1f1f1">
                                    <option value="0" role=separator>Select State</option>
                                </select>
                            </div>
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Select City</label><br />

                                <select class="singleselect" id="ddlCity" readonly="readonly" disabled style="background-color: #f1f1f1">
                                    <option value="0" role=separator>Select City</option>
                                </select>
                            </div>


                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Phone Number</label>
                                <div class="row col-12">
                                    <div class="col-2">
                                        <input type="text" class="form-control" id="txtPhoneCodeID" value="NA" style="font-size:15px;width: 80px; background-color: #f1f1f1" disabled readonly />
                                    </div>
                                    <div class="col-10">
                                        <input type="text" class="form-control" id="txtPhone" oninput="numberOnly(this.id);" maxlength="10" value="@(Model.sPhone ==null?"": Model.sPhone)" style="background-color: #f1f1f1" readonly="readonly" disabled>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Pincode</label>
                                <input type="text" class="form-control" id="txtPincode" oninput="numberOnly(this.id);" maxlength="6" value="@(Model.sPincode ==null?"": Model.sPincode)" readonly="readonly" disabled>
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Aadhar Number</label>
                                <input type="text" class="form-control" id="txtAadhaar" oninput="numberOnly(this.id);" maxlength="12" value="@(Model.sAadhaar ==null?"": Model.sAadhaar)">
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">PAN Number</label>
                                <input type="text" class="form-control" id="txtPan" maxlength="10" value="@(Model.sPan ==null?"": Model.sPan)">
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">GST Number</label>
                                <div class="row" style="display: flex;align-items: baseline;">
                                    <div class="col-2">
                                        <label class="col-sm-6 toggle">
                                            <input class="toggle-checkbox" type="checkbox" id="chkIsGST" name="Status" value="@Model.isGSTApplicable" @(Model.isGSTApplicable == 1 ? "checked" : "")>
                                            <div class="toggle-switch"></div>

                                        </label>
                                    </div>
                                    <div class="col-10" id="divGST">
                                        <input type="text" class="form-control" id="txtGST" maxlength="10" style="display:none" value="@(Model.GSTINNo ==null?"": Model.GSTINNo)">
                                    </div>
                                </div>


                            </div>

                            @*<div class="col-sm-6 m-b30">
                                    <label class="form-label" id="lblAadhaarImg">Choose Image (Aadhaar)</label>
                                    <input type="file" class="form-control" id="fupAadhaar" onchange="return encodeImageFileAsURL(this,'Aadhaar')">
                                    <input type="hidden" id="hdnUploadedAadhaarImage" />
                                </div>

                                <div class="col-sm-6 m-b30">
                                    <label class="form-label" id="lblPanImg">Choose Image (PAN)</label>
                                    <input type="file" class="form-control" id="fupPan" onchange="return encodeImageFileAsURL(this,'Pan')">
                                    <input type="hidden" id="hdnUploadedPanImage" />
                                </div>*@

                            <!--<div class="col-sm-6 m-b30">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" id="txtUsername">
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" id="txtpassword">-->
                            @*<p style="height: 22px;width:100%;background-color:red;margin-top: 5px;border-radius: 14px;text-align: center;color: white;">weak</p>*@
                            <!--</div>-->


                            <div class="col-sm-12 m-b30">
                                <label class="form-label">Full Address</label>
                                <textarea class="form-control" placeholder="Some where....." rows="3" style="resize:none" id="txtAddress">@(Model.sAddress ==null?"": Model.sAddress)</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="button" onclick="SaveDetails()"><i class="fa fa-plus"></i> Update @ViewBag.type</button>
                        @*<a href="javascript:void(0);" class="btn-link">Forgot your password?</a>*@
                    </div>

                </div>
            </div>
        </div>
    }
}



<!--**********************************
    Footer start
***********************************-->
<!--**********************************
    Footer end
***********************************-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
@*
    <script src="~/Content/CountrySelect/build/js/countrySelect.js"></script>
    <script>
        $("#countrySelect").countrySelect({
            defaultStyling: "inside"

        });
    </script>*@
<script type="text/javascript">
    var imagebase64 = "";
    $(document).ready(function () {
        $(".singleselect").select2();
        getLocation();
        bindCountryStateCity('Country', 0, 0);
        $('#ddlCountry').change(function () {
            $('#ddlCity').html('');
            $('#ddlState').html('');
            var ds = $('#ddlCountry').val();
            var ds1 = $('#ddlCountry option:selected').text();

            ds1 = ds1.split('(')[1].replace(')', '').trim();
            bindCountryStateCity('State', ds, 0);

            $('#txtPhoneCodeID').val('');
            $('#txtPhoneCodeID').val(ds1);

        });
        $('#ddlState').change(function () {

            $('#ddlCity').html('');
            var ds = $('#ddlState').val();
            bindCountryStateCity('City', 0, ds);
        });


        $('#txtName').on('input', function () {
            var name = $(this).val();
           /* console.log(name);*/
            $('#proIMGName').html('');
            $('#proIMGName').html(name);
        });

        $('#chkIsGST').change(function () {
            var s = $("#chkIsGST").is(':checked');
            if (!s) {
                $('#txtGST').css('display', 'none')
            }
            else {
                $('#txtGST').css('display', 'block')
            }
        });
      });

    function bindCountryStateCity(type, cID, sID) {
        var Content = {
            type: type,
            countryID: parseInt(cID),
            stateID: parseInt(sID),
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/Common/GetCountryStateCity",
            dataType: 'json',
            type: 'Post',
            cache: false,
            data: JSON.stringify(Content),
            success: function (data) {
                console.log('ajax');
                //console.log(data.Data);

                var mainData = JSON.parse(data.Data);
                if (type == 'Country') {
                    var countryData = "<option value=0>Select Country</option>";
                    mainData.forEach(function (item) {
                        /* console.log(item.DDLText);*/
                        if ('@ViewBag.type' != 'Member') {
                            if (item.DDLValue == '@countryID') {
                                countryData += `<option value=${item.DDLValue} selected>${item.DDLText}</option>`;
                            }
                            else {
                            countryData += `<option value=${item.DDLValue}>${item.DDLText}</option>`;
                            }
                        }
                        else {
                        countryData += `<option value=${item.DDLValue}>${item.DDLText}</option>`;
                        }

                    });

                    //console.log(countryData);
                    $('#ddlCountry').html('');
                    $('#ddlCountry').html(countryData);

                    if ('@ViewBag.type' != 'Member') {
                        var ds = $('#ddlCountry').val();
                        var ds1 = $('#ddlCountry option:selected').text();

                        ds1 = ds1.split('(')[1].replace(')', '').trim();
                        $('#txtPhoneCodeID').val('');
                        $('#txtPhoneCodeID').val(ds1);


                        bindCountryStateCity('State', ds, 0);
                    }
                }

                if (type == 'State') {
                    var stateData = "<option value=0>Select State</option>";
                    mainData.forEach(function (item) {
                        /* console.log(item.DDLText);*/
                      if ('@ViewBag.type' != 'Member') {
                            if (item.DDLValue == '@stateID') {
                                stateData += `<option value=${item.DDLValue} selected>${item.DDLText}</option>`;
                            }
                            else {
                                stateData += `<option value=${item.DDLValue}>${item.DDLText}</option>`;
                            }
                        }
                        else {
                          stateData += `<option value=${item.DDLValue}>${item.DDLText}</option>`;
                        }

                    });
                    //console.log(countryData);
                    $('#ddlState').html('');
                    $('#ddlState').html(stateData);
                    $('#ddlState').select2();

                    if ('@ViewBag.type' != 'Member') {
                        var ds = $('#ddlState').val();
                        bindCountryStateCity('City', 0, ds);
                    }



                }
                if (type == 'City') {
                    var cityData = "<option value=0>Select City</option>";
                    mainData.forEach(function (item) {
                        /* console.log(item.DDLText);*/
                          if ('@ViewBag.type' != 'Member') {
                            if (item.DDLValue == '@cityID') {
                                cityData += `<option value=${item.DDLValue} selected>${item.DDLText}</option>`;
                            }
                            else {
                                cityData += `<option value=${item.DDLValue}>${item.DDLText}</option>`;
                            }
                        }
                        else {
                              cityData += `<option value=${item.DDLValue}>${item.DDLText}</option>`;
                        }
                    });
                    //console.log(countryData);
                    $('#ddlCity').html('');
                    $('#ddlCity').html(cityData);
                    $('#ddlCity').select2();
                }
            },
            error: function (d) {
                console.log(d);
                //alert("404. Please wait until the File is Loaded.");
            }
        });
    }

    function SaveDetails() {

        var parentID ="";

        var name = $('#txtName').val();
        var surname = $('#txtSurName').val();
        var dob = $('#txtDOB').val();
        var email = $('#txtEmail').val();
        var country = $('#ddlCountry').val();
        var state = $('#ddlState').val();
        var city = $('#ddlCity').val();
        var phonenumber = $('#txtPhone').val();
        var pincode = $('#txtPincode').val();
        var role = $('#ddlRole').val();
        var adhaarNumber = $('#txtAadhaar').val();
        var panNumber = $('#txtPan').val();
        var adhaarImg = $('#hdnUploadedAadhaarImage').val();
        var pancardImg = $('#hdnUploadedPanImage').val();
        var username = $('#txtUsername').val();
        var password = $('#txtpassword').val();
        var address = $('#txtAddress').val();
        var type = '@ViewBag.type' == "Member" ? "Add" : "Update";
        if('@ViewBag.type'=='Member')
            parentID = '@Model.sUSRCode';
        else
            parentID = 'NULL';

        var userMasterModal = {
            sNME: name,
            sSurNME: surname,
            sUSRNME: username,
            sPrntID: parentID,
            dtDOB: dob,
            sEmail: email,
            sPhone: phonenumber,
            iCountryID: parseInt(country),
            iStateID: parseInt(state),
            iCityID: parseInt(city),
            sPincode: pincode,
            sAadhaar: adhaarNumber,
            sPan: panNumber,
            sAddress: address,
            bPassword: password,
            sLatitude: $('#hdf_latitudeData').val(),
            sLongitude: $('#hdf_longitudeData').val(),
            iRoleID: parseInt(role),
            aadhaarImg: adhaarImg,
            panImg: pancardImg,
            type: "@ViewBag.type",
            sUSRCode:'@Model.sUSRCode'
        }

        var d = checkValidate();
        console.log(d);
        //var d = JSON.stringify(Content);
        //console.log(d);

        if (d) {
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: "/User/SaveUserDetails",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(userMasterModal),
                success: function (data) {
                    console.log('ajax');
                    console.log(data);
                    if (data.StatusCode == 1) {
                        Swal.fire({
                            title: "Success",
                            text: "Details Saved Successfully..!",
                            icon: "success",
                            showCancelButton: false,
                        });
                    }
                },
                error: function (d) {
                    console.log(d);
                    //alert("404. Please wait until the File is Loaded.");
                }
            });
        }
    }

    function checkValidate() {
        var status = true;

        var name = $('#txtName').val();
        var surname = $('#txtSurName').val();
        var dob = $('#txtDOB').val();
        var email = $('#txtEmail').val();
        var country = $('#ddlCountry').val();
        var state = $('#ddlState').val();
        var city = $('#ddlCity').val();
        var phonenumber = $('#txtPhone').val();
        var pincode = $('#txtPincode').val();
        var role = $('#ddlRole').val();
        var adhaarNumber = $('#txtAadhaar').val();
        var panNumber = $('#txtPan').val();
        var adhaarImg = $('#hdnUploadedAadhaarImage').val();
        var panImg = $('#hdnUploadedPanImage').val();
        var username = $('#txtUsername').val();
        var password = $('#txtpassword').val();
        var address = $('#txtAddress').val();

        if (name.length <= 0) {
            Swal.fire({
                title: "Error",
                text: "Please Enter Name..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }
        else if (surname.length <= 0) {
            Swal.fire({
                title: "Error",
                text: "Please Enter Surname..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }
        else if (dob.length <= 0) {
            Swal.fire({
                title: "Error",
                text: "Please Enter Date of Birth..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }
        else if (email.length <= 0) {
            Swal.fire({
                title: "Error",
                text: "Please Enter Email Address..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }
        else if (country == 0) {
            Swal.fire({
                title: "Error",
                text: "Please Select Country..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }
        else if (state == 0) {
            Swal.fire({
                title: "Error",
                text: "Please Select State..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }
        else if (city == 0) {
            Swal.fire({
                title: "Error",
                text: "Please Select City..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }
        else if (phonenumber.length <= 0) {
            Swal.fire({
                title: "Error",
                text: "Please Enter Phone Number..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }
        else if (pincode.length <= 0) {
            Swal.fire({
                title: "Error",
                text: "Please Enter Pincode..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }
        else if (adhaarNumber.length <= 0) {
            Swal.fire({
                title: "Error",
                text: "Please Enter Aadhaar Number..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }
        else if (panNumber.length <= 0) {
            Swal.fire({
                title: "Error",
                text: "Please Enter Pan Number..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }

        //else if (adhaarImg.length <= 0) {
        //    swal({
        //        title: "Error",
        //        text: "Please Select Aadhaar Image..!",
        //        type: "warning",
        //        showCancelButton: !1,
        //    });
        //    status = false;
        //}
        //else if (panImg.length <= 0) {
        //    swal({
        //        title: "Error",
        //        text: "Please Select Pan Image..!",
        //        type: "warning",
        //        showCancelButton: !1,
        //    });
        //    status = false;
        //}
        else if ('@ViewBag.type' == 'Member')
        {
         if (username.length <= 0) {
                Swal.fire({
                    title: "Error",
                    text: "Please Enter Username..!",
                    icon: "warning",
                    showCancelButton: false,
                });
                status = false;
            }
            else if (password.length <= 0) {
                Swal.fire({
                    title: "Error",
                    text: "Please Enter Password..!",
                    icon: "warning",
                    showCancelButton: false,
                });
                status = false;
            }
        }

        else if (address.length <= 0) {
            Swal.fire({
                title: "Error",
                text: "Please Enter Address..!",
                icon: "warning",
                showCancelButton: false,
            });
            status = false;
        }

        return status;
    }

    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^0-9]/gi, "");
    }

    function encodeImageFileAsURL(element,item) {
        var elementID = element.id;
        var file = element.files[0];
        console.log(file);
        console.log(elementID);

        var reader = new FileReader();
        reader.onloadend = function () {
            imagebase64 = reader.result;
            var binaryOnly = imagebase64.split(',')[1];
            //console.log(binaryOnly);

            if (item == "Aadhaar") {
                $('#hdnUploadedAadhaarImage').val(binaryOnly);
            }
            if (item == "Pan") {
                $('#hdnUploadedPanImage').val(binaryOnly);
            }
            //var c = $('#UploadedImage').val();
            // console.log("Converted "+ c)
        }
        reader.readAsDataURL(file);
        return imagebase64;
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);

        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        //alert("Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude)
        //var data = {
        //    lat:position.coords.latitude,
        //    long:position.coords.longitude
        //}

        //console.log(JSON.stringify(data));

        $('#hdf_longitudeData').val(position.coords.longitude)
        $('#hdf_latitudeData').val(position.coords.latitude)

        console.log('from inner');
        console.log("lat : " + $('#hdf_longitudeData').val());
        console.log("long : " + $('#hdf_latitudeData').val());
    }

</script>